/* global */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
/* grid */

.row {
	max-width: $row-max;
	min-width: $row-min;
	margin: $row-margin; 
	overflow: auto;
	clear: both;
}
.row > .col > .row {
	width: 100%;
	min-width: inherit;
	max-width: inherit;
	padding-left: 0!important;
	padding-right: 0!important;
	.col {
		padding-left: 0!important;
		padding-right: 0!important; } 
}
.col {
	float: left;
	padding: $col-padding;
	overflow: hidden;
}
.row {
	.col.span-1 {
		width: 1 / 12 * 100%;
	}
}
.row {
	.col.span-2 {
		width: 2 / 12 * 100%;
	}
}
.row {
	.col.span-3 {
		width: 3 / 12 * 100%;
	}
}
.row {
	.col.span-4 {
		width: 4 / 12 * 100%;
	}
}
.row {
	.col.span-5 {
		width: 5 / 12 * 100%;
	}
}
.row {
	.col.span-6 {
		width: 6 / 12 * 100%;
	}
}
.row {
	.col.span-7 {
		width: 7 / 12 * 100%;
	}
}
.row {
	.col.span-8 {
		width: 8 / 12 * 100%;
	}
}
.row {
	.col.span-9 {
		width: 9 / 12 * 100%;
	}
}
.row {
	.col.span-10 {
		width: 10 / 12 * 100%;
	}
}
.row {
	.col.span-11 {
		width: 11 / 12 * 100%;
	}
}
.row {
	.col.span-12 {
		width: 100%;
	}
}

.row > .col.centered {
	margin: 0 auto;
	float: none;
}